@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Playfair+Display:ital@1&display=swap');

/************* GLOBAL VAR *************/
:root {
  --main-radius: 30px;
  --main-color: #2F2E2C;
  --main-bg: #E7E3E2;
  --main-button: #F7F2EF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 18px;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--main-bg);
  scroll-behavior: smooth;
}

/************* REUSABLE COMPONENTS *************/

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-style: italic;
}

/************* NAV BAR *************/
#nav-bar {
  /* to make menu full screen */
  position: fixed;
  grid-area: nav;
  height: 100%;
  display: block;
  flex-direction: column;
  color: black;
  font-size: 0.9em;
  justify-content: space-around;
  align-items: center;
  width: 5%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  z-index: 2;
  transition: 0.5s ease-in-out;
}

#nav-bar.open { 
  height: 100%;
  width: 100%;
  background-color: white;
  position: fixed;
  transition: 0.5s ease-in-out;
}

a:link,
a:visited {
  text-decoration: none;
  color: black;
}

#hamburger-menu {
  height: 40px;
  width: 60px;
  position: fixed;
  margin: 20px;
  cursor: pointer;
  z-index: 3;
}

#hamburger-menu span {
  position: absolute;
  display: block;
  background-color: #ABA6A1;
  width: 80%;
  height: 5px;
  border-radius: 5px;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  opacity: 1;
  margin-top: 10px;
}

#hamburger-menu span:nth-child(1) {
  top: 0;
  width: 20px;
}

#hamburger-menu span:nth-child(2) {
  top: 10px;
}

#hamburger-menu span:nth-child(3) {
  top: 20px;
  width: 20px;
}

#hamburger-menu.open span:nth-child(1) {
  top: 15px;
  width: 20px;
  transform: rotate(135deg);
}

#hamburger-menu.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#hamburger-menu.open span:nth-child(3) {
  top: 15px;
  width: 20px;
  transform: rotate(-135deg);
}

#navigations {
  position: absolute;
  background-color: white;
  color: black;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 90%;
  width: 100%;
  transition: color 0.5s ease-in-out;
  z-index: 2;
}

#navigations.open {
  width: 100%;
  height: 100%;
  opacity: 1;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#navigations a {
  width: 200px;
  transition: 2s;
}

#navigations a:nth-child(1) {
  margin-right: 15%;
  right: 50px;
}

#navigations a:nth-child(2) {
  margin-right: 25%;
}

#navigations a:nth-child(3) {
  margin-right: 35%;
}

#navigations a:nth-child(4) {
  margin-right: 45%;
}

#navigations.open a {
  margin-right: 0;
}

#navigations a:after,
#navigations a:before {
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 20px auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

#navigations a:hover:after,
#navigations a:hover:before {
  color: red;
  border-color: #fed106;
  transition: width 350ms ease-in-out;
  width: 100%;
}

#navigations a:hover:before {
  bottom: auto;
  top: 0;
  width: 100%;
}

#navigations a:active {
  color: red;
}

/************* FOOTER *************/
footer {
  /* background-color: #33F6F1; */
  font-size: 12px;
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer div {
  display: flex;
  align-items: center;
  margin-left: 10px;
  /* margin-right: 20px; */
  padding: 10px;
}

footer img {
  margin-left: 10px;
  width: 30px;
  align-self: center;
}

/************* GRID TEMPLATE FOR HOMEPAGE *************/
.homepage-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.25fr 2fr 0.25fr;
  grid-template-areas:
  "nav nav nav nav"
  "image1 image2 image3 image4"
  "footer footer footer footer";
  grid-gap: 0.3rem;
}

/************* IMAGES FOR HOMEPAGE *************/
/* .image {
  border-radius: var(--main-radius);
} */

#image1 {
  background-color: #b4beff;
  grid-area: image1;
  border-radius: var(--main-radius);
}

#image2 {
  background-color: #8f9cef;
  grid-area: image2;
  border-radius: var(--main-radius);
}

#image3 {
  background-color: #6779ec;
  grid-area: image3;
  border-radius: var(--main-radius);
}

#image4 {
  background-color: #5c69bd;
  grid-area: image4;
  border-radius: var(--main-radius);
}

/************* GRID TEMPLATE FOR EXPLORE PAGE *************/
.explore-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.25fr 0.1fr 2fr 0.2fr;
  grid-template-areas: 
  "nav nav nav nav"
  "header header header header"
  "carousel carousel carousel carousel"
  "footer footer footer footer";
  grid-gap: 2rem;
}

.header {
  margin: 0 auto;
  grid-area: header;
  letter-spacing: 1.2em;
  font-size: 30px;
}

.explore-carousel {
  grid-area: carousel;
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  opacity: 1;
}

.explore-images {
  margin: 10px auto 0;
  text-align: center;
  outline: none;
}

.slick-active {
  width: 399px;
  opacity: 0.45;
  transition: 0.5s ease-in-out;
}

.slick-current {
  opacity: 1;
  transition: 0.5s ease-in-out;
}

.explore-images img {
  max-width: 90%;
  height: auto;
  margin-left: 25px;
}

.slick-prev {
  display: block;
  position: absolute;
  top: 50%;
  left: -60px;
  transform: translateY(-50%);
  background-color: #ABA6A1;
  color: transparent;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  outline: none;
  z-index: 1;
} 

.slick-prev::before {
  content: '←';
  color: white;
  margin-left: 50px;
}

.slick-next {
  position: absolute;
  top: 50%;
  right: -60px;
  transform: translateY(-50%);
  background-color: var(--main-button);
  color: transparent;
  width: 50px;
  height: 50px;
  align-items: center;
  border-radius: 50%;
  border: none;
  outline: none;
} 

.slick-next::before {
  content: '→';
  color: black;
  margin-left: 20px;
}

.slick-prev:focus, .slick-next:focus {
  background-color: none;
  border: none;
}

/************* OVERLAY FOR EXPLORE PAGE *************/
#closeOverlay {
  height: 40px;
  width: 60px;
  position: fixed;
  margin: 20px;
  cursor: pointer;
  z-index: 3;
}

#closeOverlay span {
  position: absolute;
  display: block;
  background-color: #ABA6A1;
  width: 20px;
  height: 5px;
  border-radius: 5px;
  left: 0;
  opacity: 1;
  margin-top: 20px;
}

#closeOverlay span:nth-child(1) {
  transform: rotate(135deg);
}

#closeOverlay span:nth-child(2) {
  transform: rotate(-135deg);
}

.food-overlay {
  position: absolute;
  z-index: -1;
  opacity: 0;
  left: -50%;
  height: 100%;
  width: 100%;
  transition: 0.8s ease-in-out;
  flex-wrap: wrap;
  background-color: white;
}

.food-overlay.appear {
  z-index: 4;
  opacity: 1;
  left: 0;
  background-color: white;
  display: flex;
}

.food-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 40%;
  height: 100%;
  border: 1px solid black;
}

.food-info p {
  font-size: 14px;
}

.main-image {
  margin: 50px 0 30px 100px;
  background-position: center;
  background-size: cover;
  width: 50%;
  height: auto;
}

.overlay-location {
  margin: 30px 0 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-location img{
  width: 20px;
  height: 20px;
}

.thumbnails {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 30%;
  margin-top: 50px;
}

.thumbnails img {
  width: auto;
  height: 90%;
}

/* #thumbnail-1:hover {
  transition: 0.5s ease-in-out;
  height: 100%;
} */