/*  PHONE */
@media only screen and (max-width: 480px) {
    body {
        font-size: 12px;
    }

    footer {
        margin-top: 10%;
    }

    /* .explore-carousel {
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.4fr 2fr 0.4fr;
        grid-template-areas: 
        "nav"
        "header"
        "carousel"
        "footer";  
    } */

    .header {
        margin: 15% auto 0%;
    }

    .explore-carousel {
        margin-top: 30%;
    }

    .explore-images img {
        opacity: 1;
    }

    .food-info {
        width: 100%;
        height: 100vh;
    }

    .food-overlay {
        flex-wrap: wrap;
    }

    .author-info {
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-bottom: 2%;
    }

    .author-avatar {
        order: -1;
        margin-bottom: 10px;
    }

    .social-media {
        flex-direction: column;
    }

    /* .thumbnails {
        flex-direction: column;
    } */

}

/* TABLET */
@media only screen and (max-width: 1024px) {
    
    footer p{
        display: none;
    }

    footer img {
        width: 18px;
    }

    .masthead img {
        width: 100%;
        height: 100%;
    }

    .masthead-image-2, .masthead-image-3 {
        display: none;
    }

    /* .main-image {
        display: none;
    } */

    .food-info {
        width: 100%;
        padding: 30px;
        height: 150vh;
        /* background-color: #727272; */
        /* color: white; */
    }

    .thumbnail {
        padding: 5px;
    }

}