@media only screen and (max-width: 480px) {
    body {
        font-size: 12px;
    }

    .main-container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 1.2fr 1.2fr 1.2fr 1.2fr 0.4fr;
        grid-template-areas: 
        "nav"
        "image1"
        "image2"
        "image3"
        "image4"
        "footer";
    }

    /* .explore-carousel {
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.4fr 2fr 0.4fr;
        grid-template-areas: 
        "nav"
        "header"
        "carousel"
        "footer";  
    } */


}

@media only screen and (max-width: 1024px) {
    .main-image {
        display: none;
    }

    .food-info {
        width: 60%;
        height: 100vh;
    }

}