/*  PHONE */
@media only screen and (max-width: 480px) {
    body {
        font-size: 12px;
    }

    /* .explore-carousel {
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.4fr 2fr 0.4fr;
        grid-template-areas: 
        "nav"
        "header"
        "carousel"
        "footer";  
    } */

    .food-info {
        width: 100%;
        height: 100vh;
    }

}

/* TABLET */
@media only screen and (max-width: 1024px) {
    
    footer p{
        display: none;
    }

    footer img {
        width: 18px;
    }

    .masthead img {
        width: 100%;
        height: 100%;
    }

    .masthead-image-2, .masthead-image-3 {
        display: none;
    }

    .main-image {
        display: none;
    }

    .food-info {
        width: 100%;
        padding: 30px;
        height: 100vh;
        /* background-color: #727272; */
        /* color: white; */
    }

    .thumbnail {
        padding: 5px;
    }

}